# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
.npm/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
android/local.properties
local.properties
*.orig.*
*.keystore
*.jks
*.p8
*.p12
*.key
*.mobileprovision
GoogleService-Info.plist
google-services.json
android/app/google-services.json
android/app/debug.keystore

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env.*
.env*.local
!.env.example

# typescript
*.tsbuildinfo

app-example

# Native build output
android/.gradle/
android/.kotlin/
android/app/build/
android/app/.cxx/
ios/build/
ios/Pods/
